<%- include('partials/header-auth') -%>

<section
  class="row justify-content-center pb-5 rounded"
  style="
    background-image: url('../../assets/imgs/leaves.jpg');
    background-size: cover;
  "
>
  <div class="p-5 bg-dark text-white col-5 mt-5">
    <div class="container">
      <form
        action="/post/createPost"
        enctype="multipart/form-data"
        method="POST"
      >
        <h1>Add a post</h1>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" />
        </div>
        <div class="mb-3">
          <label for="caption" class="form-label">Caption</label>
          <textarea class="form-control" id="caption" name="caption"></textarea>
        </div>
        <div class="mb-3">
          <label for="imgUpload" class="form-label">Image</label>
          <input
            type="file"
            class="form-control"
            id="imageUpload"
            name="file"
          />
        </div>
        <button type="submit" class="btn btn-outline-success" value="Upload">
          Publish
        </button>
      </form>
    </div>
  </div>
</section>
