<%- include('partials/header') -%>

<main>
  <section class="row bg-dark text-light text-center p-5">
    <div>
      <img
        src="../../assets/imgs/garden.jpg"
        alt="Watering the garden"
        height="250"
        width="400"
      />
    </div>
    <div class="p-2">
      <h2>Sprout, a gardener's companion.</h2>
    </div>
    <span class="text-muted">
      Exercise your green thumb and share your journey with others!
    </span>
  </section>
</main>

<%- include('partials/footer') -%>
