<%- include('partials/header') -%>

<main class="bg-dark">
  <section class="text-light text-center p-5">
    <div>
      <img
        src="../../assets/imgs/plant.jpg"
        alt="Watering the garden"
        class="img-fluid"
      />
    </div>
    <div class="p-2">
      <h2>
        Sprout, <br />
        a gardener's companion.
      </h2>
    </div>
    <span class="text-muted">
      Exercise your green thumb and share your journey with others!
    </span>
  </section>
</main>

<%- include('partials/footer') -%>
